<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ifd-ccid.bundle</string>
	<key>CFBundleIdentifier</key>
	<string>org.debian.alioth.pcsclite.smartcardccid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CCIDCLASSDRIVER</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>ifdCapabilities</key>
	<string>0x00000000</string>

	<!-- Possible values for ifdCapabilities bits
	1: IFD_GENERATE_HOTPLUG
	   plugging the reader calls pcscd \-\-hotplug

	Default value is 0x00000000
	-->

	<key>ifdProtocolSupport</key>
	<string>0x00000001</string>
	<key>ifdVersionNumber</key>
	<string>0x00000001</string>

	<key>ifdLogLevel</key>
	<string>0x0003</string>

	<!-- Possible values for ifdLogLevel
	1: CRITICAL  important error messages
	2: INFO      informative messages like what reader was detected
	4: COMM      a dump of all the bytes exchanged between the host and
	             the reader
	8: PERIODIC  periodic info when pcscd test if a card is present
	             (every 1/10 of a second)

	The final value is a OR of these values

	Default value: 3 (CRITICAL + INFO)
	-->

	<key>ifdDriverOptions</key>
	<string>0x0000</string>

	<!-- Possible values for ifdDriverOptions
	1: DRIVER_OPTION_CCID_EXCHANGE_AUTHORIZED
		the CCID Exchange command is allowed. You can use it through
		SCardControl(hCard, IOCTL_SMARTCARD_VENDOR_IFD_EXCHANGE, ...)

	2: DRIVER_OPTION_GEMPC_TWIN_KEY_APDU
		If set the GemPC Twin and GemPC Key readers with be configured
		so that the T=1 TPDU protocol is done by the firmware instead of
		the driver.
		This switches the reader in APDU mode and also in EMV mode so
		may not work with non EMV cards.

	4: DRIVER_OPTION_USE_BOGUS_FIRMWARE
		Some reader firmwares have bugs. By default the driver refuses
		to work with such firmware versions. If your reader is rejected
		because of the firmware (log message: "Firmware (x.y) is
		bogus!") you can:
		- upgrade your reader firmware (not all readers can do that)
		or
		- get another reader with a new/bugfree firmware
		or
		- activate this option but you will have problems depending on
		  the bug

	8: DRIVER_OPTION_RESET_ON_CLOSE
		This option may be required on Linux 2.4 so that the
		device reset if sequencial (bSeq) counter and can be
		reused if pcscd restart. Otherwise the reader needs to
		be unplugged/replugged.

	bits 4 & 5: (values 0, 16, 32, 48)
	  0: power on the card at 5V (default value)
	 16: power on the card at 3V and then, if 3V fails use 5V
	 32: power on the card at 1.8V, then 3V and then 5V
	 48: let the reader decide

	Default value: 0
	-->

	<key>CFBundleExecutable</key>
	<string>libccid.so</string>

	<key>ifdManufacturerString</key>
	<string>Ludovic Rousseau (ludovic.rousseau@free.fr)</string>

	<key>ifdProductString</key>
	<string>Generic CCID driver</string>

	<key>ifdVendorID</key>
	<array>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x08E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x04E6</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x076B</string>
		<string>0x0783</string>
		<string>0x0783</string>
		<string>0x0783</string>
		<string>0x0783</string>
		<string>0x0783</string>
		<string>0x0783</string>
		<string>0x0783</string>
		<string>0x09C3</string>
		<string>0x09C3</string>
		<string>0x047B</string>
		<string>0x413C</string>
		<string>0x413C</string>
		<string>0x046A</string>
		<string>0x046A</string>
		<string>0x046A</string>
		<string>0x046A</string>
		<string>0x046A</string>
		<string>0x046A</string>
		<string>0x046A</string>
		<string>0x072F</string>
		<string>0x072F</string>
		<string>0x072F</string>
		<string>0x0B97</string>
		<string>0x0B97</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x0D46</string>
		<string>0x073D</string>
		<string>0x073D</string>
		<string>0x073D</string>
		<string>0x073D</string>
		<string>0x073D</string>
		<string>0x0DC3</string>
		<string>0x0DC3</string>
		<string>0x0DC3</string>
		<string>0x09BE</string>
		<string>0x0416</string>
		<string>0x03F0</string>
		<string>0x03F0</string>
		<string>0x03F0</string>
		<string>0x03F0</string>
		<string>0x0B81</string>
		<string>0x0B81</string>
		<string>0x0B81</string>
		<string>0x058F</string>
		<string>0x058F</string>
		<string>0x15E1</string>
		<string>0x0BF8</string>
		<string>0x0BF8</string>
		<string>0x0DF6</string>
		<string>0x0973</string>
		<string>0x0471</string>
		<string>0x04B9</string>
		<string>0x1059</string>
		<string>0x1059</string>
		<string>0x17EF</string>
		<string>0x19E7</string>
		<string>0x1B0E</string>
		<string>0x0982</string>
		<string>0x0982</string>
		<string>0x0982</string>
		<string>0x1A44</string>
		<string>0x1A44</string>
		<string>0x1A44</string>
		<string>0x1A44</string>
		<string>0x1A44</string>
		<string>0x1A44</string>
		<string>0x1A44</string>
		<string>0x1A44</string>
		<string>0x1CF0</string>
		<string>0x1C34</string>
		<string>0x1C34</string>
		<string>0x1C34</string>
		<string>0x1C34</string>
		<string>0x1C34</string>
		<string>0x1C34</string>
		<string>0x1C34</string>
		<string>0x1A74</string>
		<string>0x1A74</string>
		<string>0x0529</string>
		<string>0x03EB</string>
		<string>0x03EB</string>
		<string>0x03EB</string>
		<string>0x03EB</string>
		<string>0x03EB</string>
		<string>0x03EB</string>
		<string>0x03EB</string>
		<string>0x03EB</string>
		<string>0x04CC</string>
		<string>0x0F14</string>
		<string>0x0F14</string>
		<string>0x0F14</string>
		<string>0x0E0F</string>
		<string>0x0BDA</string>
		<string>0x0BDA</string>
		<string>0x0BDA</string>
		<string>0x0A89</string>
		<string>0x0A89</string>
		<string>0x0A89</string>
		<string>0xA625</string>
		<string>0xA625</string>
		<string>0x08C3</string>
		<string>0x08C3</string>
		<string>0x14DD</string>
		<string>0x096E</string>
		<string>0x096E</string>
		<string>0x096E</string>
		<string>0x04E8</string>
		<string>0x1E0D</string>
		<string>0x1E0D</string>
		<string>0x1E0D</string>
		<string>0x1E0D</string>
		<string>0x1206</string>
		<string>0x04DA</string>
		<string>0x0B0C</string>
		<string>0x0B0C</string>
		<string>0x0A5C</string>
		<string>0x0A5C</string>
		<string>0x0A5C</string>
		<string>0x1FD3</string>
		<string>0x20A0</string>
		<string>0x19C8</string>
		<string>0x0483</string>
		<string>0x0C4B</string>
		<string>0x1677</string>
		<string>0x234B</string>
		<string>0x19A6</string>
		<string>0x23A0</string>
		<string>0x23A0</string>
		<string>0x09C3</string>
		<string>0x0783</string>
	</array>

	<key>ifdProductID</key>
	<array>
		<string>0x2202</string>
		<string>0x3437</string>
		<string>0x3438</string>
		<string>0x3478</string>
		<string>0x3479</string>
		<string>0x3480</string>
		<string>0x34C0</string>
		<string>0x34C1</string>
		<string>0x34C2</string>
		<string>0x34C3</string>
		<string>0x34C4</string>
		<string>0x34EC</string>
		<string>0x4042</string>
		<string>0x4433</string>
		<string>0x5503</string>
		<string>0x5504</string>
		<string>0x5743</string>
		<string>0x8000</string>
		<string>0x8108</string>
		<string>0xACE0</string>
		<string>0x1359</string>
		<string>0x1227</string>
		<string>0x8108</string>
		<string>0x5111</string>
		<string>0x5113</string>
		<string>0x5115</string>
		<string>0x5116</string>
		<string>0x5117</string>
		<string>0x5119</string>
		<string>0x511A</string>
		<string>0x511C</string>
		<string>0x511D</string>
		<string>0x511F</string>
		<string>0x5120</string>
		<string>0x5121</string>
		<string>0x5293</string>
		<string>0x5410</string>
		<string>0xE001</string>
		<string>0xE003</string>
		<string>0x1021</string>
		<string>0x3021</string>
		<string>0x3621</string>
		<string>0x3821</string>
		<string>0x4321</string>
		<string>0x5121</string>
		<string>0x5125</string>
		<string>0x5321</string>
		<string>0x6622</string>
		<string>0xA021</string>
		<string>0xA022</string>
		<string>0x0006</string>
		<string>0x0007</string>
		<string>0x0008</string>
		<string>0x0009</string>
		<string>0x0010</string>
		<string>0x0036</string>
		<string>0x9002</string>
		<string>0x0013</string>
		<string>0x0014</string>
		<string>0x020B</string>
		<string>0x2100</string>
		<string>0x2101</string>
		<string>0x0005</string>
		<string>0x0010</string>
		<string>0x002D</string>
		<string>0x003E</string>
		<string>0x005B</string>
		<string>0x0070</string>
		<string>0x0072</string>
		<string>0x2200</string>
		<string>0x8201</string>
		<string>0x90CC</string>
		<string>0x7762</string>
		<string>0x7772</string>
		<string>0x3001</string>
		<string>0x3002</string>
		<string>0x3003</string>
		<string>0x3010</string>
		<string>0x3014</string>
		<string>0x4000</string>
		<string>0x4001</string>
		<string>0x4189</string>
		<string>0x41A9</string>
		<string>0x4289</string>
		<string>0x4389</string>
		<string>0x43A9</string>
		<string>0x0007</string>
		<string>0x0008</string>
		<string>0x0B00</string>
		<string>0x0C00</string>
		<string>0x0C01</string>
		<string>0x0900</string>
		<string>0x1004</string>
		<string>0x1102</string>
		<string>0x0002</string>
		<string>0x3815</string>
		<string>0x0036</string>
		<string>0x0824</string>
		<string>0x1024</string>
		<string>0x2924</string>
		<string>0x0200</string>
		<string>0x0220</string>
		<string>0x8007</string>
		<string>0x9520</string>
		<string>0x9540</string>
		<string>0x2007</string>
		<string>0x1005</string>
		<string>0x1006</string>
		<string>0x800A</string>
		<string>0x0003</string>
		<string>0x040F</string>
		<string>0x1400</string>
		<string>0x000C</string>
		<string>0x000D</string>
		<string>0x1003</string>
		<string>0x0002</string>
		<string>0x1078</string>
		<string>0x0007</string>
		<string>0x0008</string>
		<string>0x0040</string>
		<string>0x0001</string>
		<string>0x0112</string>
		<string>0x0115</string>
		<string>0x0117</string>
		<string>0x0119</string>
		<string>0x0855</string>
		<string>0x0865</string>
		<string>0x0920</string>
		<string>0x0001</string>
		<string>0x7113</string>
		<string>0x7121</string>
		<string>0x7123</string>
		<string>0x7124</string>
		<string>0x7136</string>
		<string>0x7138</string>
		<string>0x7141</string>
		<string>0x6354</string>
		<string>0xB111</string>
		<string>0x0620</string>
		<string>0x6004</string>
		<string>0x6009</string>
		<string>0x600B</string>
		<string>0x6010</string>
		<string>0x6011</string>
		<string>0x6012</string>
		<string>0x6014</string>
		<string>0x6016</string>
		<string>0x5072</string>
		<string>0x0011</string>
		<string>0x0037</string>
		<string>0x0038</string>
		<string>0x0004</string>
		<string>0x0161</string>
		<string>0x0165</string>
		<string>0x0169</string>
		<string>0x0060</string>
		<string>0x0025</string>
		<string>0x0030</string>
		<string>0x0801</string>
		<string>0x0810</string>
		<string>0x0401</string>
		<string>0x0402</string>
		<string>0x1006</string>
		<string>0x0503</string>
		<string>0x0505</string>
		<string>0x0807</string>
		<string>0x0007</string>
		<string>0x0013</string>
		<string>0x0033</string>
		<string>0x1023</string>
		<string>0x8033</string>
		<string>0x2105</string>
		<string>0x117A</string>
		<string>0x0050</string>
		<string>0x0052</string>
		<string>0x5800</string>
		<string>0x5801</string>
		<string>0x5802</string>
		<string>0xCC1D</string>
		<string>0x4107</string>
		<string>0x0012</string>
		<string>0x0007</string>
		<string>0x9102</string>
		<string>0x0025</string>
		<string>0x0000</string>
		<string>0x0009</string>
		<string>0x0001</string>
		<string>0x0002</string>
		<string>0x0008</string>
		<string>0x0003</string>
	</array>

	<key>ifdFriendlyName</key>
	<array>
		<string>Gemalto Gem e-Seal Pro</string>
		<string>Gemalto GemPC Twin</string>
		<string>Gemalto GemPC Key</string>
		<string>Gemalto GemPC Pinpad</string>
		<string>Gemalto GemCore POS Pro</string>
		<string>Gemalto GemCore SIM Pro</string>
		<string>Gemalto Ezio Shield</string>
		<string>Gemalto Ezio Shield Secure Channel</string>
		<string>Gemalto Ezio Shield PinPad</string>
		<string>Gemalto Ezio CB+</string>
		<string>Gemalto Ezio Generic</string>
		<string>Gemalto GemPC Express</string>
		<string>Gemalto SA .NET Dual</string>
		<string>Gemalto GemPC433 SL</string>
		<string>Gemalto Prox-DU</string>
		<string>Gemalto Prox-SU</string>
		<string>Gemalto Hybrid Smartcard Reader</string>
		<string>Gemalto Smart Enterprise Guardian</string>
		<string>Gemalto Smart Guardian</string>
		<string>Verisign Secure Token</string>
		<string>VeriSign Secure Storage Token</string>
		<string>Gemalto PDT</string>
		<string>Gemalto SG CCID</string>
		<string>SCM SCR 331-DI</string>
		<string>SCM SCR 333</string>
		<string>SCM SCR 335</string>
		<string>SCM SCR 3310</string>
		<string>SCM SCR 3320</string>
		<string>SCM SCR 3340 ExpressCard54</string>
		<string>SCM SCR 3310 NTTCom</string>
		<string>Axalto Reflex USB v3</string>
		<string>SCM SCR 3311</string>
		<string>SCM SCR 3310</string>
		<string>SCM SCR 331-DI NTTCom</string>
		<string>SCM SDI 010</string>
		<string>SCM SCL011</string>
		<string>SCM SCR 355</string>
		<string>SCM SCR 331</string>
		<string>SCM SPR 532</string>
		<string>OmniKey CardMan 1021</string>
		<string>OmniKey CardMan 3121</string>
		<string>OmniKey CardMan 3621</string>
		<string>OmniKey CardMan 3821</string>
		<string>OmniKey CardMan 4321</string>
		<string>OmniKey CardMan 5121</string>
		<string>OmniKey CardMan 5125</string>
		<string>OmniKey CardMan 5321</string>
		<string>OmniKey CardMan 6121</string>
		<string>Smart Card Reader</string>
		<string>Teo by Xiring</string>
		<string>C3PO LTC31</string>
		<string>C3PO TLTC2USB</string>
		<string>C3PO LTC32 USBv2 with keyboard support</string>
		<string>C3PO KBR36</string>
		<string>C3PO LTC32</string>
		<string>C3PO LTC36</string>
		<string>C3PO TLTC2USB</string>
		<string>ActivCard USB Reader 3.0</string>
		<string>Activkey Sim</string>
		<string>Silitek SK-3105</string>
		<string>Dell keyboard SK-3106</string>
		<string>Dell smart card reader keyboard</string>
		<string>Cherry XX33</string>
		<string>Cherry XX44</string>
		<string>Cherry ST1044U</string>
		<string>Cherry SmartTerminal ST-2XXX</string>
		<string>Cherry SmartBoard XX1X</string>
		<string>Cherry SmartTerminal XX1X</string>
		<string>Cherry SmartTerminal XX7X</string>
		<string>ACS ACR122U PICC Interface</string>
		<string>ACS APG8201 PINhandy 1</string>
		<string>ACS ACR 38U-CCID</string>
		<string>O2 Micro Oz776</string>
		<string>O2 Micro Oz776</string>
		<string>KOBIL KAAN Base</string>
		<string>KOBIL KAAN Advanced</string>
		<string>KOBIL KAAN SIM III</string>
		<string>KOBIL EMV CAP - SecOVID Reader III</string>
		<string>KOBIL Smart Token</string>
		<string>KOBIL mIDentity M</string>
		<string>KOBIL mIDentity XL</string>
		<string>KOBIL mIDentity 4smart</string>
		<string>KOBIL mIDentity 4smart AES</string>
		<string>KOBIL mIDentity visual</string>
		<string>KOBIL mIDentity fullsize</string>
		<string>KOBIL mIDentity 4smart fullsize AES</string>
		<string>Eutron CryptoIdentity</string>
		<string>Eutron CryptoIdentity</string>
		<string>Eutron Digipass 860</string>
		<string>Eutron SIM Pocket Combo</string>
		<string>Eutron Smart Pocket</string>
		<string>Athena IDProtect Key</string>
		<string>Athena ASE IIIe</string>
		<string>Athena ASEDrive IIIe KB</string>
		<string>SmartEpad</string>
		<string>Winbond</string>
		<string>HP USB CCID Smartcard Keyboard</string>
		<string>HP USB Smartcard Reader</string>
		<string>HP USB Smart Card Keyboard</string>
		<string>HP MFP Smart Card Reader</string>
		<string>id3 CL1356T5</string>
		<string>id3 CL1356A HID</string>
		<string>SDS DOMINO-Key TWIN Pro</string>
		<string>Alcor Micro AU9520</string>
		<string>Alcor Micro AU9540</string>
		<string>RSA SecurID</string>
		<string>Fujitsu Siemens SmartCard Keyboard USB 2A</string>
		<string>Fujitsu Siemens SmartCard USB 2A</string>
		<string>Sitecom USB simcard reader MD-010</string>
		<string>SchlumbergerSema Cyberflex Access</string>
		<string>Philips JCOP41V221</string>
		<string>Philips SmartMX</string>
		<string>GnD CardToken 350</string>
		<string>GnD CardToken 550</string>
		<string>Lenovo Integrated Smart Card Reader</string>
		<string>Charismathics token</string>
		<string>Blutronics Bludrive II CCID</string>
		<string>Covadis Alya</string>
		<string>Covadis Vega</string>
		<string>Covadis Auriga</string>
		<string>Vasco DP905</string>
		<string>Vasco DIGIPASS KEY 860</string>
		<string>Vasco DIGIPASS KEY 200</string>
		<string>Vasco DIGIPASS KEY 860</string>
		<string>Vasco DIGIPASS KEY 200</string>
		<string>Vasco DP855</string>
		<string>Vasco DP865</string>
		<string>Vasco DIGIPASS 920</string>
		<string>Validy TokenA sl vt</string>
		<string>SpringCard CrazyWriter</string>
		<string>SpringCard CSB6 Basic</string>
		<string>SpringCard CSB6 Secure</string>
		<string>SpringCard CSB6 Ultimate</string>
		<string>SpringCard EasyFinger Standard</string>
		<string>SpringCard EasyFinger Ultimate</string>
		<string>SpringCard Prox'N'Roll</string>
		<string>OCS ID-One Cosmo Card</string>
		<string>OBERTHUR TECHNOLOGIES ID-ONE TOKEN SLIM v2</string>
		<string>Aladdin eToken PRO USB 72K Java</string>
		<string>Atmel AT91SO</string>
		<string>Atmel AT98SC032CT</string>
		<string>Atmel AT91SC192192CT-USB ICCD</string>
		<string>Atmel AT90SCR100</string>
		<string>Atmel AT90SCR050</string>
		<string>Atmel VaultIC420</string>
		<string>Atmel VaultIC440</string>
		<string>Atmel VaultIC460</string>
		<string>KONA USB SmartCard</string>
		<string>Xiring XI-SIGN USB V2</string>
		<string>Xiring MyLeo</string>
		<string>Xiring Leo v2</string>
		<string>VMware Virtual USB CCID</string>
		<string>MSI StarReader SMART</string>
		<string>Dectel CI692</string>
		<string>Realtek</string>
		<string>Aktiv Rutoken Magistra</string>
		<string>Aktiv Rutoken lite</string>
		<string>Aktiv Rutoken ECP</string>
		<string>TianYu CCID SmartKey</string>
		<string>Tianyu Smart Card Reader</string>
		<string>Precise 250 MC</string>
		<string>Precise 200 MC</string>
		<string>Raritan D2CIM-DVUSB VM/CCID</string>
		<string>Feitian SCR301</string>
		<string>Feitian SCR310</string>
		<string>Feitian ePass2003</string>
		<string>Softforum XecureHSM</string>
		<string>Neowave Weneo</string>
		<string>Neowave Weneo</string>
		<string>Neowave Weneo</string>
		<string>Neowave Weneo</string>
		<string>Synnix STD200</string>
		<string>Panasonic USB Smart Card Reader 7A-Smart</string>
		<string>Todos AGM2 CCID</string>
		<string>Todos CX00</string>
		<string>Broadcom 5880</string>
		<string>Broadcom 5880</string>
		<string>Broadcom 5880</string>
		<string>Ask CPL108</string>
		<string>German Privacy Foundation Crypto Stick v1.2</string>
		<string>GoldKey PIV Token</string>
		<string>Kingtrust Multi-Reader</string>
		<string>REINER SCT cyberJack RFID basis</string>
		<string>BZH uKeyCI800-K18</string>
		<string>FSIJ Gnuk</string>
		<string>Ubisys CCID</string>
		<string>BIFIT USB-Token iBank2key</string>
		<string>BIFIT iBank2Key</string>
		<string>ActivCard USB Reader 2.0</string>
		<string>C3PO LTC31</string>
	</array>

	<key>Copyright</key>
	<string>This driver is protected by terms of the GNU Lesser General Public License version 2.1, or (at your option) any later version.</string>

</dict>
</plist>
