workflow:
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+(-rc.\d+)?$/
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == "master"

stages:
  - compile
  - test
  - analyze
  - package
  - post-package
  - deploy
  - publish

variables:
  OEC_JAVA_CACHE_KEY: "oec-java-cache"
  OEC_JAVA_TMP_CACHE_KEY: "oec-java-tmp-cache"
  OEC_OSX_CACHE: "oec-macos-cache"
  OEC_WIN_CACHE: "oec-win-cache"

include:
- '/.gitlab-ci.d/version.yml'
- '/.gitlab-ci.d/cache.yml'
- '/.gitlab-ci.d/compile.yml'
- '/.gitlab-ci.d/test.yml'
- '/.gitlab-ci.d/sast.yml'
- '/.gitlab-ci.d/package-linux.yml'
#- '/.gitlab-ci.d/package-osx.yml'
- '/.gitlab-ci.d/package-win.yml'
- '/.gitlab-ci.d/package-ios-framework.yml'
- '/.gitlab-ci.d/post-package.yml'
- '/.gitlab-ci.d/deploy.yml'
- '/.gitlab-ci.d/publish.yml'
