bin
gen
target
*~
*.orig
*.log
.settings
.project
.classpath
.directory
.checkstyle
nb-configuration.xml
nbactions-*.xml
dependency-reduced-pom.xml
/.idea/
*.iml
test-output
.deps/
.libs/
project.properties
LICENSE.Open-eCard
