bin
gen
target
*~
*.orig
*.log
.settings
.project
.classpath
.directory
.checkstyle
nb-configuration.xml
nbactions-*.xml
dependency-reduced-pom.xml
**/.idea/
*.iml
test-output
.deps/
.libs/
project.properties
LICENSE.Open-eCard
/bindings/http/src/main/resources/binding/server-keystore.p12
/bindings/http/keypass
nbactions.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
_build/
.mvn/wrapper/maven-wrapper.jar
