<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openecard.gui.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="12" />

    <application>
        <activity
            android:name=".StepActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:configChanges="orientation" />
        <activity
            android:name=".MessageDialogActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:configChanges="orientation" />
        <activity
            android:name=".FileDialogActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:configChanges="orientation" />
    </application>

</manifest>
