<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.NFC" />
	<application>
		<activity
			android:name="org.openecard.sal.sc.TestActivity"
			android:exported="true"
		>
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
		</activity>
	</application>
</manifest>
