<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.openecard.android.lib">

    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".activities.StartActivity"/>

        <activity android:name=".activities.ShutdownActivity"/>

        <service
            android:name=".services.OpeneCardServiceImpl"
            android:exported="true"
            android:label="Open eCard Service"/>

        <service
            android:name="org.openecard.gui.android.eac.EacGuiService"
            android:exported="true"
            android:label="EAC Gui Service"/>

    </application>

</manifest>