<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product Name="Open eCard App" Id="*" Language="1033"
	     Version="@VERSION_NUMBER@" Manufacturer="openecard.org"
	     UpgradeCode="ccdf0b3e-c450-434e-b74f-30c15b6fce39">


	<Package Id="*" InstallerVersion="200" Compressed="yes" />

	<Media Id="1" Cabinet="Open_eCard_App.cab" EmbedCab="yes" />
    
	<MajorUpgrade Schedule="afterInstallValidate" 
                  RemoveFeatures="Complete"
                  DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

	<!-- Define directory structure -->
	<Directory Id="TARGETDIR" Name="SourceDir">
	    <Directory Id="ProgramFilesFolder">
		<Directory Id="ecard_dir" Name="Open eCard App">
		    <Directory Id="INSTALLDIR" Name="App @VERSION@">
			<Directory Id="libdir" Name="lib" />
		    </Directory>
		</Directory>
	    </Directory>

	    <Directory Id="ProgramMenuFolder">
		<Directory Id="ProgramMenuDir" Name="Open eCard App" />
	    </Directory>

	    <Directory Id="DesktopFolder" Name="Desktop" />
	</Directory>

	<DirectoryRef Id="ecard_dir">
	    <Component Id="BaseFolderComponent" Guid="ef68498e-70a0-42ce-9108-2ca7717ee94d">
		<RemoveFolder Id="ecard_dir" On="uninstall" />
	    </Component>
	</DirectoryRef>

	<DirectoryRef Id="libdir">
	    <Component Id="libs" Guid="8b5a020c-3a86-4d61-a933-b54575b0d0c4">
		@ALL_JARS@
	    </Component>
	</DirectoryRef>

	<DirectoryRef Id="ProgramMenuDir">
	    <Component Id="ProgramMenuShortcut" Guid="3cf12f4a-0c7e-4dbe-b5b5-28b4b45ccacf">
		<Shortcut Id="ProgramStartMenuShortcut"
			  Name="Open eCard App"
			  Description="Free implementation of the client side eCard specification."
			  Icon="OpenECard.ico"
			  Target="[libdir]richclient-@VERSION@.jar"
                          WorkingDirectory="libdir"
			  Advertise="no">
		</Shortcut>
		<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                <RegistryKey Root="HKCU" 
                             Key="SOFTWARE\Open eCard App"
                             Action="createAndRemoveOnUninstall">
                    <RegistryValue Name="installed" Type="string" Value="@VERSION@" KeyPath="yes" />
                </RegistryKey>
	    </Component>
	</DirectoryRef>

        <DirectoryRef Id="DesktopFolder">
            <Component Id="ProgrammDesktopShortcut" Guid="05806c9e-4aa6-4dde-a3c5-145f75daaec9">
                <Shortcut Id="ProgrammStartDesktopShortcut"
                          Name="Open eCard App"
                          Description="Free implementation of the client side eCard specification."
                          Icon="OpenECard.ico"
                          Target="[libdir]richclient-@VERSION@.jar"
                          WorkingDirectory="libdir"
                          Advertise="no">
                </Shortcut>
                <RegistryKey Root="HKCU" 
                             Key="SOFTWARE\Open eCard App"
                             Action="createAndRemoveOnUninstall">
                    <RegistryValue Name="DesktopSC" Type="integer" Value="1" KeyPath="yes" />
                </RegistryKey>
            </Component>
        </DirectoryRef>

	<Icon Id="OpenECard.ico" SourceFile="Open-eCard-Logo.ico" />
	<Property Id="ARPPRODUCTICON" Value="OpenECard.ico" />
	<!-- select ALL USERS as install target -->
	<!-- <Property Id="ALLUSERS"><![CDATA[2]]></Property> -->

	<Feature Id="Complete" Level="1">
	    <ComponentRef Id="BaseFolderComponent" />
	    <ComponentRef Id="libs" />
	    <ComponentRef Id="ProgramMenuShortcut" />
	    <ComponentRef Id="ProgrammDesktopShortcut" />
	</Feature>


	<!-- WixVariable Id="WixUIBannerBmp" Value="Open-eCard-Logo.bmp" /-->
	<!-- WixVariable Id="WixUIDialogBmp" Value="Open-eCard-Logo.bmp" /-->
	<!-- WixVariable Id="WixUILicenseRtf" Value="OurLicense.rtf" /-->
    </Product>
</Wix>
