deploy-mvn-artifacts:
  stage: deploy
  image: docker.io/cimg/android:2025.04
  tags:
    - "podman"
  cache:
    - key: "$OEC_JAVA_CACHE_KEY"
      paths: !reference [ .cache-gradle-base, paths ]
      policy: pull
    - key: "$OEC_JAVA_TMP_CACHE_KEY"
      paths: [ .cache-gradle-builds, paths ]
      policy: pull
  script:
    - !reference [.versioning, script]
    - ./gradlew publish
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+(-rc.\d+)?$/
    - if: $CI_MERGE_REQUEST_IID
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == "master"
