package-win:
  stage: package
  tags:
    - "win"
  artifacts:
    name: 'OeC-Installer-EXE'
    paths:
      - clients/richclient/build/dist/
  script:
    - |
      if (Get-Variable 'CI_COMMIT_TAG' -ErrorAction Ignore) {
        echo "Do versioning for release build..."
        set ORG_GRADLE_PROJECT_version $CI_COMMIT_TAG.substring(1)
      } else {
        $content = Get-Content .\gradle.properties -raw
        $hashTable = ConvertFrom-StringData -StringData $content
        $SNAPSHOT_VERSION = $hashTable.version
        $VERSION_WITHOUT_SNAPSHOT = $SNAPSHOT_VERSION.replace('-SNAPSHOT', '')
        set ORG_GRADLE_PROJECT_version $VERSION_WITHOUT_SNAPSHOT-$CI_COMMIT_REF_SLUG-SNAPSHOT
      }
    - .\gradlew.bat packageWin --no-build-cache --no-daemon -Pversion="$ORG_GRADLE_PROJECT_version"
    - $EXE_FILE_PATH = $(Get-Childitem
        -Path .\clients\richclient\build\dist
        -Include Open-eCard-App-*.exe
        -File -Recurse -ErrorAction SilentlyContinue | Format-Wide Name  | Out-String).Trim()                                          
    - signtool.exe sign 
        /debug 
        /p ${WIN_KEYSTORE_PW}
        /f "${WIN_KEYSTORE}"
        /tr https://rfc3161.ai.moda/entrust
        /td SHA256
        /fd SHA256
        .\clients\richclient\build\dist\$EXE_FILE_PATH
  needs: [ "compile" ]
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+(-rc.\d+)?$/
    - if: $CI_COMMIT_BRANCH == "master"
      when: manual
    - if: $CI_MERGE_REQUEST_IID
      when: manual
      allow_failure: true
