test:
  stage: test
  image: docker.io/cimg/android:2025.04
  tags:
    - "podman"
  cache:
    - key: "$OEC_JAVA_CACHE_KEY"
      paths: !reference [ .cache-gradle-base, paths ]
      policy: pull-push
    - key: "$OEC_JAVA_TMP_CACHE_KEY"
      paths: [ .cache-gradle-builds, paths ]
      policy: pull-push
  artifacts:
    reports:
      junit:
        #- "**/build/reports/kover/report.xml"
        - "**/build/test-results/*/TEST-*.xml"
  script:
    - !reference [.versioning, script]
    #- ./gradlew check koverVerify koverXmlReport -Pktlint.ignoreFailures=true
    - ./gradlew check -Pktlint.ignoreFailures=true
  needs: [ "compile" ]
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+(-rc.\d+)?$/
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == "master"


kotlin-quality:
  extends: .kotlinlint
  image: docker.io/cimg/android:2025.04
  cache:
    - key: "$OEC_JAVA_CACHE_KEY"
      paths: !reference [ .cache-gradle-base, paths ]
      policy: pull
    - key: "$OEC_JAVA_TMP_CACHE_KEY"
      paths: [ .cache-gradle-builds, paths ]
      policy: pull
  needs:
    - compile
