Package: ${package.identifier}
Version: ${parsedVersion.majorVersion}.${parsedVersion.minorVersion}.${parsedVersion.incrementalVersion}
Section: utils
Maintainer: ${app.vendor} <${app.maintainer}>
Priority: optional
Architecture: amd64
Provides: ${package.identifier}
Conflicts: Open-eCard-App
Description: ${app.description}
Depends: ${package.deps}
