<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFCReaderUsageDescription</key>
	<string>This app uses NFC to read tags</string>

	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D27600000102</string>
		<string>D2760001448000</string>
		<string>D27600014407</string>
		<string>D27600014408</string>
		<string>D2760001440A</string>
		<string>D2760001440B</string>
		<string>D2760001440C</string>
		<string>A000000167455349474E</string>
		<string>D27600006601</string>

	</array>
</dict>
</plist>
